<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "NYE.jpg" %>
	</div>

	<div id="content">
		<h1>Welcome to KiNG BLoG</h1>
		<h2>I'm Paul Elion</h2>
		<p>"For centuries, writers have experimented with forms that evoke the imperfection of thought, the inconstancy of human affairs, and the chastening passage of time. But as blogging evolves as a literary form, it is generating a new and quintessentially postmodern idiom that’s enabling writers to express themselves in ways that have never been seen or understood before. Its truths are provisional, and its ethos collective and messy. Yet the interaction it enables between writer and reader is unprecedented, visceral, and sometimes brutal. And make no mistake: it heralds a golden era for journalism.</p>
		<h3>....and nobody embodies that more so than 'The King of Cool', 'The Blind Man's Tailor', the one and only -- Mr. Paul Elion." <br><br> - Barrack Obama</h3>
	</div>
</div>